<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/jpeg" href="icon.jpg" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-g20GKMIp7/vyOVl+hHXYyZLfH/d0igOxx4t9XwbNnCAB+OF6xEtLY1JyjNPcJLO1QdGlZ05Kl7mU6DE/xRcO8Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="home.css">
    
    <title>LIC Connect</title>
</head>
<body>
    <header>LIC Connect</header>
    <main>
        <div id="">
            <button></button>
        </div>
    </main>
</html>
