<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/jpeg" href="icon.jpg" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-g20GKMIp7/vyOVl+hHXYyZLfH/d0igOxx4t9XwbNnCAB+OF6xEtLY1JyjNPcJLO1QdGlZ05Kl7mU6DE/xRcO8Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    
    <title>LIC Connect</title>
</head>
<body>
    <header>
        <div id="head_container">
            <img src="{% static 'images/lrac_logo.png'%}" alt="school logo">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="{% url 'analytics' %}">Analytics</a></li>
                <li>
                    <a href="#">Account</a>
                    <ul class="dropdown-content" >
                        <li><a style="width: 200%;" onclick="window.location.href='/manage_staff'">Manage Staff</a></li>
                        <li><a style="width: 200%;" onclick="window.location.href='/admin_settings'" >Settings</a></li>
                        <li><a style="width: 200%;" onclick="window.location.href='/logout'" >Logout</a></li>
                    </ul>
                </li>
            </ul> 
        </div>
    </header>
<hr>
    <div id="tableBtn">
        <button id="showFormBtn">Add student</button>
        <div id="alert-message" class="alert alert-{{ category }}"></div>
        <input type="text" id="searchInput" onkeydown="handleKeyPress(event)" placeholder="Search for student ID..." >
    </div>

    <!--REGISTER FORM-->
    <div id="overlay">
        <div id="formContainer">
            <div id="formheader">
                <h2>Add Student</h2>
            </div>
            <button id="closeFormBtn">&times;</button>
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <label for="studentid">Student ID</label> 
                <input type="text" id="studentid" name="studentid" required><br>

                <label for="name">Name</label> <br>
                <input type="text" id="name" name="name" required><br>

                <label for="course">Course</label> <br>
                <input type="text" id="course" name="course" required><br>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required><br>
                <input type="checkbox" id="showPassword"> Show Password<br>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <!--REGISTER FORM-->
    <!--HISTORY CONTAINER-->
    <div id="overlayHistory">
        <div id="historyForm">
            <button id="closeHistory">&times;</button>
            <h1>History</h1>
            <div>
                <div>
                    <p><strong>Student ID:</strong></p>
                    <p><strong>Login Time:</strong></p>
                    <p><strong>Logout Time:</strong></p>
                    <p><strong>Consumed Time:</strong></p>
                </div>
            </div>
            <p>No login sessions available.</p>
        </div>
    </div>
    <!--HISTORY CONTAINER-->

    <!--PAYMENT FORM-->
    <div class="overlayPayment" id="overlaypayment">
        <div class="paymentcontainer">  
            <div class="closepayContainer">
                <button onclick="closePayment()" class="closepay">&times;</button> 
            </div> 
            <h1>Payment</h1>
            <form method="post" action="{% url 'process_payment' %}">
                {% csrf_token %}
                <label for="studentID">Student ID</label>
                <input type="text" id="studentID" name="studentID" readonly><br>
                <label for="paymentAmount">Payment Amount</label>
                <input type="text" id="paymentAmount" name="paymentAmount" required><br>
                <div class="submitContainer">
                    <button id="btnPayment">Submit Payment</button>
                </div>
                
            </form>
        </div>
    </div>
<!--PAYMENT FORM-->

    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    </div>
    <!--PAYMENT FORM-->
    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    <table id="myTable">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Course</th>
                <th>Time Left</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="studentTableBody">
            {% for student in students %}
            <tr>
                <td>{{ student.studentID }}</td>
                <td id="student-Name-{{ student.studentID }}">{{ student.name }}</td>
                <td>{{ student.course }}</td>
                <td>{{ student.time_left }}</td>
                <td style="text-align: center;">
                    <button onclick="showHistory(this)" class="showHistory">History</button>
                    <button class="paymentbtn" onclick="openModal(this)">Payment</button>
                    <form id="delete-form-{{ student.studentID }}" method="POST" action="{% url 'delete_student' student.studentID %}" style="display: inline;">
                        {% csrf_token %}
                        <button class="btnDelete" type="button" onclick="confirmDelete('{{ student.studentID }}')">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!--NOTIFICATION-->
    <div id="notification" class="notification"></div>
    <!--NOTIFICATION-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function confirmDelete(studentID) {
            var studentName = document.getElementById('student-Name-' + studentID).innerText;
            if (confirm(`Are you sure you want to delete the record for "${studentName}"?`)) {
                document.getElementById('delete-form-' + studentID).submit();
            }
        }

        function showHistory(button) {
            var id = button.parentNode.parentNode.cells[0].textContent;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/history", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log("Response from Flask: ", xhr.responseText);
                    } else {
                        console.error("Error:", xhr.status);
                    }
                }
            };
            var data = JSON.stringify({ "get": id });
            xhr.send(data);
        }

        function handleKeyPress(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                searchRecord();
            }
        }

        function searchRecord() {
            var input = document.getElementById('searchInput').value.toLowerCase();
            var table = document.getElementById('studentTableBody');
            var rows = table.getElementsByTagName('tr');
            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                var studentId = cells[0].textContent.toLowerCase();
                if (studentId.includes(input)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const showFormBtn = document.getElementById('showFormBtn');
            const overlay = document.getElementById('overlay');
            const closeFormBtn = document.getElementById('closeFormBtn');

            showFormBtn.addEventListener('click', function () {
                overlay.style.display = 'flex';
            });

            closeFormBtn.addEventListener('click', function () {
                overlay.style.display = 'none';
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const historyButtons = document.querySelectorAll('.showHistory');
            const overlay = document.getElementById('overlayHistory');
            const closeform = document.getElementById('closeHistory');
            historyButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const studentId = this.dataset.studentId;
                    overlay.style.display = 'flex';
                });
            });
            closeform.addEventListener('click', function () {
                overlay.style.display = 'none';
            });
        });

        function logout() {
            console.log("Logout function triggered.");
            window.location.href = "admin_login.html";
        }

        var modal = document.getElementById('overlaypayment');
        var btn = document.querySelector('button');
        var closeBtn = document.querySelector('.closepay');

        function openModal(button) {
            var studentId = button.parentNode.parentNode.cells[0].textContent;
            document.getElementById('studentID').value = studentId;
            modal.style.display = 'block';
        }

        function closePayment() {
            modal.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }

        document.getElementById('showPassword').addEventListener('change', function() {
            var passwordField = document.getElementById('password');
            if (this.checked) {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        });


        function showNotification(message) {
        const notification = document.getElementById('notification');
        notification.innerText = message;
        notification.style.display = 'block';

        setTimeout(() => {
            notification.style.display = 'none';
        }, 3000);
    }

        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('message')) {
                showNotification(urlParams.get('message'));
            }
        });
    </script>
</body>
</html>
