<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIC Connect</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <style>
        body {
            background-image: url("{% static 'images/background.jpg' %}");
        }
    </style>
</head>
<body>

<header>
    <!-- Header content goes here -->
</header>

<main>
    <h1>Login</h1>
    <!-- {% if message %}
        <p>{{ message }}</p>
    {% endif %} -->
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <input type="text" id="uname" name="uname" placeholder="Username" required><br>
            <input type="password" id="pass" name="pass" placeholder="Password" required>  <br>
            {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}
            <input type="submit" value="Login">
        </div>
    </form>
</main>

<footer>
    <!-- Footer content goes here -->
    <img src="{% static 'images/lrac_logo.png' %}" alt="lrac logo">
</footer>

</body>
</html>
