<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpeg" href="icon.jpg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-g20GKMIp7/vyOVl+hHXYyZLfH/d0igOxx4t9XwbNnCAB+OF6xEtLY1JyjNPcJLO1QdGlZ05Kl7mU6DE/xRcO8Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'manage_staff.css' %}">
    <title>LIC Staff</title>
</head>
<body>
    <main>
        <header>
            <div id="head_container">
                <img src="{% static 'images/lrac_logo.png' %}" alt="school logo">
            </div>
        </header>

        <h1>Manage LIC Staff</h1>
        <button type="button" class="go-back" onclick="window.location.href='/home'"><span>&lt; Return</span></button>
        <div class="searchStaff">
            <input type="text" id="searchInput" placeholder="Search a staff here..." onkeyup="searchTable()">
        </div>
        
        <div class="container">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    
                    <div class="anotherContainer">
                        <tbody>
                            {% for staff in staffs %}
                            <tr>
                                <td>{{ staff.name }}</td>
                                <td>{{ staff.username }}</td>
                                <td>
                                    <form id="delete-form-{{ staff.id }}" method="POST" action="{% url 'delete_staff' staff.id %}">
                                        {% csrf_token %}
                                        <span id="staff-name-{{ staff.id }}" style="display: none;">{{ staff.name }}</span>
                                        <button class="deleteBtn" type="button" onclick="confirmDelete('{{ staff.id }}')">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </div>
                    
                </table>
            </div>
            

            <div class="form-container">
                
                <form id="adminForm" action="{% url 'manage_staff' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button class="btnChange" type="submit">Add</button>
                </form>
            </div>
        </div>

        <!-- The Modal -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Are you sure you want to add this staff?</p>
                <button class="confirmAddBtn" id="confirmButton">Add</button>
                <button class="cancelBtn" id="cancelButton">Cancel</button>
            </div>
        </div>

        <!--NOTIFICATION-->
        <div id="notification" class="notification">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <!--NOTIFICATION-->

        <script>
            document.getElementById('adminForm').onsubmit = function(event) {
                event.preventDefault();

                var modal = document.getElementById("confirmationModal");
                modal.style.display = "block";

                var closeBtn = document.getElementsByClassName("close")[0];
                var confirmBtn = document.getElementById("confirmButton");
                var cancelBtn = document.getElementById("cancelButton");

                closeBtn.onclick = function() {
                    modal.style.display = "none";
                }

                cancelBtn.onclick = function() {
                    modal.style.display = "none";
                }

                confirmBtn.onclick = function() {
                    modal.style.display = "none";
                    document.getElementById('adminForm').submit();
                }

                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            }

            function confirmDelete(staffId) {
                var staffName = document.getElementById('staff-name-' + staffId).innerText;
                if (confirm(`Are you sure you want to delete the record for "${staffName}"?`)) {
                    document.getElementById('delete-form-' + staffId).submit();
                }
            }

            function searchTable() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("searchInput");
                filter = input.value.toUpperCase();
                table = document.querySelector(".table-container table");
                tr = table.getElementsByTagName("tr");

                for (i = 1; i < tr.length; i++) {
                    tr[i].style.display = "none";
                    td = tr[i].getElementsByTagName("td");
                    for (var j = 0; j < td.length - 1; j++) {
                        if (td[j]) {
                            txtValue = td[j].textContent || td[j].innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                                break;
                            }
                        }
                    }
                }
            }

            function showNotification(message) {
                const notification = document.getElementById('notification');
                notification.innerText = message;
                notification.style.display = 'block';

                setTimeout(() => {
                    notification.style.display = 'none';
                }, 3000);
            }

            document.addEventListener('DOMContentLoaded', function () {
                const urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('message')) {
                    showNotification(urlParams.get('message'));
                }
            });
        </script>
    </main>
</body>
</html>
