<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpeg" href="icon.jpg" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-g20GKMIp7/vyOVl+hHXYyZLfH/d0igOxx4t9XwbNnCAB+OF6xEtLY1JyjNPcJLO1QdGlZ05Kl7mU6DE/xRcO8Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'manage_staff.css' %}">
    <title>LIC Staff</title>
</head>
<body>
    <main>
        <header>
            <div id="head_container">
                <img src="{% static 'images/lrac_logo.png' %}" alt="school logo">
            </div>
        </header>

        <button type="button" class="go-back" onclick="window.location.href='/home'"><span>&lt; Return</span></button>    
        <h1>Manage LIC Staff</h1>
        <div class="container">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff in staffs %}
                        <tr>
                            <td>{{ staff.name }}</td>
                            <td>{{ staff.username }}</td>
                            <td>
                                <form id="delete-form-{{ staff.id }}" method="POST" action="{% url 'delete_staff' staff.id %}">
                                    {% csrf_token %}
                                    <span id="staff-name-{{ staff.id }}" style="display: none;">{{ staff.name }}</span>
                                    <button type="button" onclick="confirmDelete('{{ staff.id }}')">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                    </tbody>
                </table>
            </div>
            
            <div class="form-container">
                <form id="adminForm" action="{% url 'manage_staff' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button class="btnChange" type="submit">Add</button>
                </form>
            </div>
        </div>

        <!-- The Modal -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Are you sure you want to add this staff?</p>
                <button id="confirmButton">Yes</button>
                <button id="cancelButton">No</button>
            </div>
        </div>

        <script>
            document.getElementById('adminForm').onsubmit = function(event) {
                event.preventDefault();

                // Display the modal
                var modal = document.getElementById("confirmationModal");
                modal.style.display = "block";

                // Get the elements
                var closeBtn = document.getElementsByClassName("close")[0];
                var confirmBtn = document.getElementById("confirmButton");
                var cancelBtn = document.getElementById("cancelButton");

                // When the user clicks on <span> (x), close the modal
                closeBtn.onclick = function() {
                    modal.style.display = "none";
                }

                // When the user clicks on "No", close the modal
                cancelBtn.onclick = function() {
                    modal.style.display = "none";
                }

                // When the user clicks on "Yes", submit the form
                confirmBtn.onclick = function() {
                    modal.style.display = "none";
                    document.getElementById('adminForm').submit();
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            }

            function confirmDelete(staffId) {
                var staffName = document.getElementById('staff-name-' + staffId).innerText;
                if (confirm(`Are you sure you want to delete the record for "${staffName}"?`)) {
                    document.getElementById('delete-form-' + staffId).submit();
                }
            }
        </script>
    </main>

</body>
</html>